
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup {

    hostgroup_name          all-servers           ; The name of the hostgroup
    alias                   All Servers           ; Long name of the group
    members                 ec2-54-212-72-37.us-west-2.compute.amazonaws.com,ec2-107-23-154-13.compute-1.amazonaws.com     ; Comma separated list of hosts that belong to this group
}

define hostgroup {
    hostgroup_name          web-servers
    alias                   Web Servers
    members                 ec2-54-212-72-37.us-west-2.compute.amazonaws.com
}


define hostgroup {
    hostgroup_name          tomcat-servers
    alias                   Tomcat Servers
    members                 ec2-107-23-154-13.compute-1.amazonaws.com
}



